// Colors
$white: #FFF;
$primary: #007bff;

// Breakpoints
$pre-tabletBreakpoint: 600px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 992px;
$largepreBreakpoint: 1130px;
$largeBreakpoint: 1200px;
$horizontalMax: 453px;